include ../mixins/_head

mixin practice-item(args={})
    .practice-item
        .practice-item__content
            .practice-item__title=args.title 
            .practice-item__text=args.text 
        img(src=args.img alt=args.title).practice-item__img

section.practice
    .container
        +head({
            title: 'Practice Advice',
            text: 'Problems trying to resolve the conflict between the two major realms of Classical physics: Newtonian mechanics '
        })
        .practice__row 
            +practice-item({
                title: 'A single source of truth',
                text: 'Newton thought that light was made up of particles, but then it was discovered ',
                img: './assets/imgs/practice1.jpg'
            })
            +practice-item({
                title: 'Fastest way to organize',
                text: '“Quantum mechanics” is the description of the behaviour of matter',
                img: './assets/imgs/practice2.jpg'
            })
            +practice-item({
                title: 'Fastest way to take action',
                text: 'They describe a universe consisting of bodies moving',
                img: './assets/imgs/practice3.jpg'
            })
            +practice-item({
                title: 'Work better together',
                text: 'They finally obtained a consistent description of the behaviour ',
                img: './assets/imgs/practice4.jpg'
            })
        
