img(src="https://ichef.bbci.co.uk/news/640/cpsprodpb/14236/production/_104368428_gettyimages-543560762.jpg", alt="кот")

picture 
    source(srcset="https://www.spletnik.ru/img/__post/29/29bfe5eefe2ffc3311a3ecd52cdac046_617.jpg" media='(max-width: 768px)')
    img(src="https://ichef.bbci.co.uk/news/640/cpsprodpb/14236/production/_104368428_gettyimages-543560762.jpg", alt="кот")

div.gradient
a(href="#").test-btn Контент кнопки
br
br
br
br
br
br