//GRID
//точки адаптива
$md: 1079px;
$sm: 767px;
$xs: 575px;


//Цвета макета
$c-primary: #FFA62B;//основной цвет макета
$c-secondary: #00A0C1;//дополнительный цвет макета
$c-text: #252B42;//основной цвет текста макета
$c-text2: #737373;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Montserrat', sans-serif;//основной
$headers-font: 'Montserrat', sans-serif;//для заголовков
$secondary-font: 'Montserrat', sans-serif;//дополнительный
